<div id="cv" class="instaFade">
	<div class="mainDetails">
		<div id="headshot" class="quickFade">
		</div>
		
		<div id="name">
			<h1 class="quickFade delayTwo"> {{data.user.name}} </h1>
		</div>

		<div id="contactDetails" class="quickFade delayFour">
			<ul>
				<li>{{data.user.email}} </li>
				<li>{{data.user.github}} </li>
				<li>{{data.user.phone}}</li>
				<li>{{data.user.street}} {{data.user.rest}}</li>
			</ul>
		</div>
		<div class="clear"></div>
	</div>
	
	<div id="mainArea" class="quickFade delayFive">
		<section>
			<article>
				<div class="sectionTitle">
					<h1>Summary</h1>
				</div>
				
				<div class="sectionContent">
					<p>{{data.user.summary}}</p>
				</div>
			</article>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Work Experience</h1>
			</div>
			
			<div class="sectionContent">
			{{#each data.work}}
				<article>
					<h2>{{this.title}} at {{this.companyName}}</h2>
					<p class="subDetails">{{this.years}}</p>
					<p>{{this.responsibilities}}</p>
					<p>{{this.duties}}</p>
				</article>
			{{/each}}
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Key Skills</h1>
			</div>
			
			<div class="sectionContent">
				{{data.user.skills}}
			</div>
			<div class="clear"></div>
		</section>
		
		
		<section>
			<div class="sectionTitle">
				<h1>Education</h1>
			</div>
			
			<div class="sectionContent">
			{{#each data.education}}
				<article>
					<h2>{{this.schoolName}}</h2>
					<p class="subDetails">{{this.location}} {{this.years}}</p>
					<p class="subDetails">{{this.major}} {{this.degree}} {{this.GPA}}</p>
					<p>{{this.honors}}</p>
				</article>
				{{/each}}
			</div>
			<div class="clear"></div>
		</section>
	</div>
</div>

 <form class="download" action="/preview/1/download" method="GET">
 <button type="submit" class="btn btn-default">Download</button>
 </form>
